{% extends "core/base.html" %}
{% load static %}

{% block header %}
<span><br></span>
<span><br></span>

{% endblock header %}
{% block content %}
<div  style="justify-content: center;">
    <style>
        body{
            background-color: darkslategrey;
        }
        .image-holder{
            display: flex; 
            justify-content: right;
            margin-top: 30px;
            width: 400px;
            height: 350px;
        }
        #back-img{
            border-radius: 150px;
            width:100%;
            height: 80%;

        }
        .text-container{
            position: relative;
            bottom: 140px;
            left: 50px;
            margin-top: 20px;
            padding: 20px;
            margin-top: 0;            
            background: rosybrown;
            border-radius: 10px;
        }
        p{
            padding-top: 0;
            display: flex;
            text-align:left;
            justify-content: center;
            border-radius: 10px;
            width: 70%;
        }
        .text-container h3{
            margin-top: 20px;
        }
        .whatsapp-btn{
            display: inline-block;
            width: 90%;
            background-color: green;
            cursor: pointer;
            border-radius: 20px;
        }
    </style>
     
    <div class="image-holder">
        <img id="back-img" src="{% static 'gbs_images/ou-trouver-un-institut-de-beaute-en-martinique-body-touch.jpg' %}" alt="institute-image">
    </div>
   
    <div class="text-container">
        <h3><strong>Qui Sommes-nous ?</strong> </h3>
    <p>Chez Glamourbeauty&spa, nous sommes là pour vous aider à prendre soin de vous, 
    de la tête aux pieds.<br><br>
    Nous proposons une large gamme de soins 
    allant des traitements du visage aux massages en passant par les soins des ongles.<br><br>
    Nous avons tout ce qu'il vous faut pour vous sentir belle et détendue. 
    Venez découvrir notre institut de beauté et profitez de nos soins de qualité.
        </p>
        <a href="https://wa.me/+237656593891">
<button class="whatsapp-btn">
    
        contactez nous sur whatsapp &nbsp; <i class="fa fa-whatsapp"></i>
        </button></a>
    </div>
    
</div>
{% endblock content %}