{% extends "core/base.html" %}
{% load static %}

{% block header %}

{% endblock header %}

{% block content %}

<!-- START THE FEATURETTES -->
<div class="container marketing">
    <style>
        h2{
            color:blueviolet;
        }
        .prix-coiffure span{
            color: mediumpurple;
        }
        .whatsapp-btn{
          padding-bottom: 4em;
        }
        
    </style>

    <hr class="featurette-divider">
    <p class="whatsapp-btn">
      Contactez nous sur whatsapp &nbsp; <a href="https://wa.me/+237656593891"><button  class="btn btn-outline-success" type="submit"><i class="fa fa-whatsapp"></i></button>
    </a>
      </p>

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Soins Corporels/Soins de visage. <span class="text-body-secondary">Vous n'en reviendrais pas!</span></h2>
    <p class="lead">regagner une peau parfaite  a des prix defiants toute concurrences</p>
  </div>
  <div class="col-md-5">
    
    <img  src="{% static 'gbs_images/1698565519237.jpg' %}" width="90%" height="80%">  </div>
<hr class="featurette-divider">
</div>



<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">Hamman, Gommage, Massage. <span class="text-body-secondary">resultats  visibles dès la première séance </span></h2>
    <p class="lead">Faites vous donc unpeu bichoner par nos experts !!</p>
  </div>
  <div class="col-md-5 order-md-1">
    
    <img src="{% static 'gbs_images/B9731973899Z.1_20220905112441_000+G13L627QJ.1-0.jpg' %}" width="100%" height="100%">  </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Manicure,Pedicure,Onglerie, <span class="text-body-secondary">tellement beau</span></h2>
    <p class="lead">Pose capsule & vernis gel,gainage,construction et resine</p>
  </div>
  <div class="col-md-5">
    <img src="{% static 'gbs_images/Nail-Art-Baby-Boomer.jpg' %}" width="100%" height="100%">
    </div>
</div>

<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Coiffure Homme & Enfants. <span class="text-body-secondary"></span></h2>
      <p class="lead">
      </p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'gbs_images/dca51a068f12bed4b8661301ff937279.jpg' %}" width="100%" height="100%">
      </div>
</div>
      <hr class="featurette-divider">
      

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Coiffure Femme. <span class="text-body-secondary"></span></h2>
            <p class="lead">
            </p>
        </div>
        <div class="col-md-5 order-md-1">
          
          <img src="{% static 'gbs_images/1698613549190.jpg' %}" width="100%" height="100%">  </div>
          </div>
      </div>

      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Formation  <span class="text-body-secondary"></span></h2>
          <p class="lead">Pour les passionés qui veulent pouvoir en faire autant</p>
        </div>
        <div class="col-md-5">
          <!--
          <svg  width="100" height="100">
            <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
          </svg>
        -->
          <img src="{% static 'gbs_images/LOREAL_0088302_ORI_0.jpg' %}" width="100%" height="100%">
          </div>
      </div>

<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Traitement de cheveux. <span class="text-body-secondary"></span></h2>
            <p class="lead">
             <ul>
            <li class="prix-coiffure"><span>Vente de meches et perruques:&nbsp;</span><i class="fa fa-check"></i></li>
            <li class="prix-coiffure"><span>Vente de produits d'entredtien:&nbsp;</span><i class="fa fa-check"></i></li>
            <li class="prix-coiffure"><span>coloration:&nbsp;</span><i class="fa fa-check"></i></li>
        </ul>

            </p>
        </div>
        <div class="col-md-5 order-md-1">
          
          <img src="{% static 'gbs_images/perruque femme cancer.jpg' %}" width="100%" height="100%">  </div>
          </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Vente de produit d'entretien<span class="text-body-secondary"></span></h2>
          <p class="lead">Pour vos besoins personels</p>
        </div>
        <div class="col-md-5">
          <img src="{% static 'gbs_images/1698565582861.jpg' %}" width="90%" height="100%">
          </div>
      </div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
</div><!-- /.container -->


{% endblock content %}